doctype html

html
    head
        title= "TEST PAGE"
        // link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 DB 테스트
        h3 추가
        form(name="add", action="/test/add", method="post")
            label 이름
                input(type="text", name="name")
            input(type="submit", value="추가하기")

        h3 수정
        form(name="update", action="/test/update", method="post")
            label ID
                input(type="text", name="id")
            label 이름
                input(type="text", name="name")
            input(type="submit", value="수정하기")

        h3 삭제
        form(name="delete", action="/test/delete", method="post")
            label ID
                input(type="text", name="id")
            input(type="submit", value="삭제하기")

        h2 All data :
        ul
            each item in data
                li #{item.id} : #{item.name}
